<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/react@17/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
      function ActiveFriendsList(props) {
        return (
          <ul>
            {props.list.map((x) => (
              <li key={x}>
                <span className="activeFriends">{x}</span>
                <button onClick={() => props.onRemoveFriend(x)}>Remove</button>
                <button onClick={() => props.onDeactivateFriend(x)}>
                  Deactivate
                </button>
              </li>
            ))}
          </ul>
        );
      }
      function InactiveFriendsList(props) {
        return (
          <ul>
            {props.list.map((x) => (
              <li key={x}>
                <span className="inactiveFriends">{x}</span>
                <button onClick={() => props.onActivateFriend(x)}>
                  Activate
                </button>
              </li>
            ))}
          </ul>
        );
      }

      class App extends React.Component {
        constructor(props) {
          super(props);

          this.state = {
            activeFriends: ["Alpha", "Beta", "Gamma", "Theta"],
            inactiveFriends: ["Omega"],
            input: "",
          };
          this.removeFriend = this.removeFriend.bind(this);
          this.addFriend = this.addFriend.bind(this);
          this.updateInput = this.updateInput.bind(this);
          this.activateFriend = this.activateFriend.bind(this);
          this.deactivateFriend = this.deactivateFriend.bind(this);
          this.clearAll = this.clearAll.bind(this);
        }

        addFriend() {
          if (this.state.input !== "") {
            this.setState((currentState) => {
              return {
                activeFriends: currentState.activeFriends.concat([
                  currentState.input,
                ]),
                input: "",
              };
            });
          }
        }

        removeFriend(name) {
          this.setState((currentState) => {
            return {
              activeFriends: currentState.activeFriends.filter(
                (friend) => friend !== name
              ),
            };
          });
        }

        updateInput(e) {
          const value = e.target.value;
          this.setState({
            input: value,
          });
        }

        activateFriend(name) {
          this.setState((currentState) => {
            return {
              inactiveFriends: currentState.inactiveFriends.filter(
                (friend) => friend !== name
              ),
              activeFriends: currentState.activeFriends.concat([name]),
            };
          });
        }

        deactivateFriend(name) {
          this.setState((currentState) => {
            return {
              activeFriends: currentState.activeFriends.filter(
                (friend) => friend !== name
              ),
              inactiveFriends: currentState.inactiveFriends.concat([name]),
            };
          });
        }

        clearAll() {
          this.setState((currentState) => {
            return {
              activeFriends: [],
              inactiveFriends: [],
            };
          });
        }

        render() {
          return (
            <div>
              <input
                placeholder="new-friend-name"
                value={this.state.input}
                onChange={this.updateInput}
              ></input>
              <button onClick={() => this.addFriend()}>Add friend</button>
              <button onClick={() => this.clearAll()}>Clear All</button>
              <h1>
                <strong>Active Friends</strong>
              </h1>
              <ActiveFriendsList
                list={this.state.activeFriends}
                onRemoveFriend={this.removeFriend}
                onDeactivateFriend={this.deactivateFriend}
              />
              <h1>
                <strong>Inactive Friends</strong>
              </h1>
              <InactiveFriendsList
                list={this.state.inactiveFriends}
                onActivateFriend={this.activateFriend}
              />
            </div>
          );
        }
      }

      const root = document.getElementById("root");

      ReactDOM.render(<App />, root);
    </script>
  </body>
</html>
